@import url(https://db.onlinewebfonts.com/c/0097d67ca497f5bdb6cd10799bf6661f?family=Tilda+Petite);
.nice{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgb(0, 0, 0);
    transition: background-color 0.5s;
}
body.lightmode{
    background-color: antiquewhite;
}
body.lightmode p{
    color: #1b2b20;
}
body.lightmode img {
    filter: invert(1);
}
img{
    transition: filter 0.5s;
}
p{
    color:#e4d4df;
    transition: color 0.5s;
    font-family: "Tilda Petite";
    font-size: 100px;
    line-height: 1.1;
    margin: 0 0 0 203px;
}
button{
    border: none;
    background-color: rgb(255, 123, 0);
    font-family:fantasy;
    border-radius: 6px;
}
button:hover{
    background-color: rgb(143, 69, 0);
}
button:active{
    background-color: black;
}