<!DOCTYPE html>
<html>
    <head>
        <title>Laufeydle</title>
        <link rel="icon" type="image/x-icon" href="static/favicon.ico">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <img src="static/invlogo.png" width="200" style="float: left;">
        <p>dle</p>
        <p style="clear:both"></p>
        <button class="BotaoTema"onclick="toggleTheme()" id="themeButton"><img src="static/sun.png" alt="Dark mode" width="40" height="40"></button>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <input type="checkbox" id="themeButton">
        <label for="themeButton"></label>
        <img src="static/laufeyclock1.png" alt="" class="rotating-image">
    </body>
</html>