<!DOCTYPE html>
<html>
    <head>
        <title>Laufeydle</title>
        <link rel="icon" type="image/x-icon" href="static/favicon.ico">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <img src="static/invlogo.png" width="200" style="float: left;">
        <p>dle</p>
        <p style="clear:both"></p>
        <input type="checkbox" id="themeToggle" class="theme-checkbox" onchange="toggleTheme()">
        <label for="themeToggle" class="theme-slider"></label>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <img src="static/laufeyclock1.png" alt="" class="rotating-image">
    </body>
</html>